{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="{% static 'css/css.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img class="w3-margin-top w3-margin-left w3-left w3-circle" src="{% static 'images/payam.png' %}" style="width:30%;" alt="Avatar">
          <div class="w3-bottomright w3-container w3-text-blue">
            <h3>پیام عمرانی</h3>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>برنامه نویس</p>
            <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-large w3-text-teal"></i> 1361 </p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>تهران</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>shanditom@mail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>09128369866</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>مهارت ها:</b></p>
          
           <div class="w3-light-grey w3-round-xlarge w3-small w3-margin">
            <div class="w3-container w3-center w3-round-large w3-teal " style="width:70%">Git/GitHub: 70%</div>
          </div>
          
          <div class="w3-light-grey w3-round-xlarge w3-small w3-margin">
            <div class="w3-container w3-center w3-round-large w3-teal" style="width:70%">Python: 70%</div>
          </div>
          
          
          <div class="w3-light-grey w3-round-xlarge w3-small w3-margin">
            <div class="w3-container w3-center w3-round-large w3-teal " style="width:70%">Unity (C#): 70%</div>
          </div>
          
            <div class="w3-light-grey w3-round-xlarge w3-small w3-margin">
            <div class="w3-container w3-center w3-round-large w3-teal " style="width:80%">Office: 80%</div>
          </div>
          
           <div class="w3-light-grey w3-round-xlarge w3-small w3-margin">
            <div class="w3-container w3-center w3-round-large w3-teal " style="width:70%">photoshop: 70%</div>
          </div>
          
          <div class="w3-light-grey w3-round-xlarge w3-small w3-margin">
            <div class="w3-container w3-center w3-round-large w3-teal " style="width:70%">inkscape: 70%</div>
          </div>
          
          
 
<hr>          
                   
  <p class="w3-large"><b><i class="fa fa-battery-full fa-fw w3-margin-right w3-text-teal"></i> توانایی ها: </b></p>         
   <p class="w3-margin">
 حل مسئله - پشت کار بالا - علاقمند به چالش - تحقیق و توسعه - منظم و وقت شناس - دقت و توجه به جزئیات
 </p>
          
          <hr>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>زبان:</b></p>
           <div class="w3-light-grey w3-round-xlarge w3-small w3-margin">
            <div class="w3-container w3-center w3-round-large w3-teal " style="width:60%">English: 60%</div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>پروژه ها:</h2>
        
        <div class="w3-container">
         <a href="https://cafebazaar.ir/developer/770861744719"> ۱- ساخت چند اپلیکیشن موبایل در کافه بازار و مایکت (لینک کافه بازار)</a>
          <hr>
        </div>
        
         <div class="w3-container">
         <a href="https://github.com/payamemrani/DjangoOnePage/">  ۲- نمونه کار ساخت one page template html توسط Dajngo لینک GitHub</a>
          <hr>
        </div>
        
         <div class="w3-container">
         <a href="https://github.com/payamemrani/DjangoRezumeh">  ۲- نمونه کار ساخت Rezumeh template html توسط Dajngo لینک GitHub</a>
          <hr>
        </div>
        
        
        <div class="w3-container">
            <p>
            برنامه نویس یونیتی: شرکت توسعه الگوریتم<br>
            تاریخ: از اسفند ۱۴۰۰ تا اردیبهشت ۱۴۰۱<br>
ساخت یک بازی دو بعدی هایپرکژوال

            </p>
        </div>
      
      
      <br>
        </div>
      </div>






    <div class="w3-twothird">
      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>تحصیلات و مدارک: </h2>
        <div class="w3-container">
            
          <h5 class="w3-opacity"><b>نرم افزار کامپیوتر</b></h5>
          <p>دانشگاه علمی-کاربردی استان مرکزی</p>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>1379-1382</h6>
          <hr>          
        </div>
        
         <div class="w3-container">
          <h5 class="w3-opacity">
          <b>دریافت گواهینامه :</b><br>
          </h5>
          
          <p style="color:green">
          <b class="fa fa-certificate" > پایتون مقدماتی و پیشرفته</b><br>
          <b class="fa fa-certificate">شی گرایی در پایتون</b><br>
          <b class="fa fa-certificate"> پردازش موازی در پایتون</b><br>
          <b class="fa fa-certificate"> ورژن کنترل Git</b>
          </p>
          
          <p>از مکتب خونه</p>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>1402</h6>
          <hr>          
        </div>
        
        <div class="w3-container">
          <h5 class="w3-opacity"><b>دریافت گواهی Django</b></h5>
          <p>از مکتب خونه</p>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>به زودی</h6>
                
        </div>
        
        
       
        
        
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
<a href="https://www.instagram.com/payam.emrani">  <i class="fa fa-instagram w3-hover-opacity w3-margin"> شبکه اجتماعی</i> </a>

</footer>

</body>
</html>
